@{
    ViewData["Title"] = "SalesSystem";
    Layout = "./_AuthorityLayout.cshtml";
}

<div class="query-header">
    <form class="query-authiorty">
        <div class="mb-3">
            <label for="" class="">工號</label>
            <input type="" class="" id="">
            
        </div>
        <div class="mb-3">
            <label for="" class="">姓名</label>
            <input type="" class="" id="">
        </div>
        
        <button type="submit" class="btn btn-primary">查詢權限</button>
    </form>

</div>

<div class="query-body">
    <form class="query-authiorty">
        <table>
            <tr>
                <td>
                    <label class="container">
                        權限管理
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        查詢訂單
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        設備管理
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        AI專區
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    <label class="container">
                        戰情室
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
        </table>
      
    </form>
</div>