﻿
<link rel="stylesheet" href="~/css/delegate.css" />
@{
    Layout = null;
}

<h1>名稱設定</h1>

<form action="~/Equipment" method="post" target="_blank">
    <!-- 網路設定項目 -->
    <label for="MachineClass">機器種類：</label>
    <select class="form-select" aria-label="Default select example" id="MachineClass" name="MachineClass">
        <option selected></option>
        <option value="包裝機">包裝機</option>
        <option value="殺菌機">殺菌機</option>
        <option value="烘烤機">烘烤機</option>
    </select>
    <br>

    <label for="MachineLabel">機器編號：</label>
    <input type="text" id="MachineID" name="MachineName" required autocomplete="off">

    <br>

    <label for="MasterLabel">掌管人員工號：</label>
    <input type="text" id="MasterID" name="MasterName" required autocomplete="off">

    <br>

    <label for="EmployeeLabel">新增人員工號：</label>
    <input type="text" id="EmployeeID" name="EmployeeName" required autocomplete="off">

    <br>

    <label for="Department">負責部門：</label>
    <input type="text" id="DepartmentID" name="DepartmentName" required autocomplete="off">

    <label for="Time">新增時間：</label>
    <input type="datetime-local" id="currentTime" name="currentTime">

    <br>

    <!-- 提交按鈕 -->
    <input type="submit" class="btn-info" value="提交">
    <input type="submit" class="btn-warning" value="檢查">
</form>