﻿@{
    Layout = null;
}

<h1>網路設定</h1>

<form action="~/Equipment" method="post" target="_blank">

    <!-- 網路設定項目 -->
    <label for="wifiSSID">WiFi SSID：</label>
    <input type="text" id="wifiSSID" name="wifiSSID" required autocomplete="off">

    <br>

    <label for="wifiPassword">WiFi 密碼：</label>
    <input type="password" id="wifiPassword" name="wifiPassword" required autocomplete="off">

    <br>

    <label for="ipAddress">IP 位址：</label>
    <input type="text" id="ipAddress" name="ipAddress" required autocomplete="off">

    <br>

    <label for="subnetMask">子網路遮罩：</label>
    <input type="text" id="subnetMask" name="subnetMask" required autocomplete="off">

    <br>

    <label for="gateway">閘道器：</label>
    <input type="text" id="gateway" name="gateway" required autocomplete="off">

    <br>

    <label for="dns">DNS 伺服器：</label>
    <input type="text" id="dns" name="dns" required autocomplete="off">

    <br>

    <!-- 提交按鈕 -->
    <input type="submit" class="btn-info" value="提交">
    <input type="submit" class="btn-warning" value="測試連線">
</form>