@{
    Layout = null;
}

<h1>運轉設定</h1>

<form action="~/Equipment" method="post" target="_blank">
    <label for="">啟動設定：</label>
    <select class="form-select" aria-label="Default select example" id="" name="Open">
        <option selected></option>
        <option value="啟動">啟動</option>
        <option value="關閉">關閉</option>
        <option value="待命">待命</option>
    </select>

    <br>

    <label for="">速度設定：</label>
    <select class="form-select" aria-label="Default select example" id="" name="Speed">
        <option selected></option>
        <option value="快">快</option>
        <option value="中">中</option>
        <option value="慢">慢</option>
    </select>

    <br>

    <label for="">優化設定：</label>
    <select class="form-select" aria-label="Default select example" id="" name="Optimization">
        <option selected></option>
        <option value="最佳效能(建議)">最佳效能</option>
        <option value="節能模式">節能模式</option>
        <option value="正常">正常</option>
    </select>

</form>