<nav class="navbar navbar-light">
    <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item-style">
                <a asp-area="" asp-controller="Cookies" asp-action="Index">首頁</a>
            </li>
            <li class="list-group-item-style">
                <a asp-area="" asp-controller="Search" asp-action="Index">訂單查詢</a>
            </li>
            <li class="list-group-item-style">
                <a asp-area="" asp-controller="Equipment" asp-action="Index">設備管理</a>
            </li>
            <li class="list-group-item-style">
                <a asp-area="" asp-controller="Authority" asp-action="Index">權限管理</a>
            </li>
            <li class="list-group-item-style">
                <a asp-area="" asp-controller="SituationRoom" asp-action="LineMachineValueData">戰情室</a>
            </li>
        </ul>
        
    </div>
</nav>


