@{
    ViewData["Title"] = "SalesSystem";
    Layout = "./_SystemLayout";
}


<div class="flexrow">
    
    <div class="flexcard">
        <!--修改成Navbar放進Layout-->
        <div class="left">
            <div class="side-menu">
                <ul class="list-group">
                    <li class="list-group-item" style="cursor:pointer;">權限管理</li>
                    <li class="list-group-item" style="cursor:pointer;">訂單查詢</li>
                    <li class="list-group-item" style="cursor:pointer;">設備管理</li>
                    <li class="list-group-item" style="cursor:pointer;">AI製餅</li>
                    <li class="list-group-item" style="cursor:pointer;">戰情室</li>
                </ul>
            </div>
        </div>

        <div class="right">
            <div class="welcome">
                <h1>歡迎來到管理系統</h1>
                <hr />
                <div class="bulletin-board">
                    <h2>公告欄</h2>
                    <div class="search-group">
                        <div class="search-item">
                            <h4>依日期搜尋</h4>
                            <input type="date" id="search-date" class="search-date"/>
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="search-item">
                            <h4>依標題查詢</h4>
                            <input type="text" id="search-title" class="search-title" />
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="search-item">
                            <h4>依程度查詢</h4>
                            <input type="text" id="search-level" class="search-level" />
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                        
                       
                    </div>
                    <div class="head">
                        <div class="head-left">
                            <h5>最新消息</h5>
                        </div>
                        <div class="head-right">
                            <h5>總筆數:1</h5>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">公告日期</th>
                                <th scope="col">公告單位</th>
                                <th scope="col">公告人</th>
                                <th scope="col">標題</th>
                                <th scope="col">緊急程度</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">2023/12/23</th>
                                <td>秘書室</td>
                                <td>總裁</td>
                                <td>加班辛苦了</td>
                                <td>一般</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
    
    
</div>



