@{
    Layout = "./_LogInLayout";
    ViewData["Title"] = "LogIn";
}

<div class="login">
    <form class="form">
        <h2>會員登入</h2>
        <div class="group">
            <label for="user_id">帳號</label>
            <input type='text' name='' id='user_id'>
        </div>
        <div class="group">
            <label for="user_password">密碼</label>
            <input type='password' name='' id='user_password'>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary">登入</button>
        </div>
    </form>
</div>