@{
Layout = "./_IndexLayout.cshtml";
}


<div class="row2" id="Production">
    <div class="wrap">
        <div class="card">
            <img src="./image/Production/胡桃肉桂捲美式軟餅乾.png" alt="">
            <div class="content">
                <h2>胡桃肉桂捲美式軟餅乾</h2>
                <p>Very Cinnamon Butter Pecan</p>

            </div>
        </div>
        <div class="card">
            <img src="./image/Production/濃濃黑巧克力美式軟餅乾(蛋奶素).png" alt="">
            <div class="content">
                <h2>濃濃黑巧克力美式軟餅乾(蛋奶素)</h2>
                <p>Big Fat Dark Chocolate</p>

            </div>
        </div>

        <div class="card">
            <img src="./image/Production/奶油花生軟餅乾(蛋奶素).png" alt="">
            <div class="content">
                <h2>奶油花生軟餅乾(蛋奶素)</h2>
                <p>Fluffer Nutter Peanut Butter</p>

            </div>
        </div>

        <div class="card">
            <img src="./image/Production/全麥五穀米吐司（奶素）.png" alt="">
            <div class="content">
                <h2>全麥五穀米吐司（奶素）</h2>
                <p>Whole wheat grain rice toast</p>

            </div>
        </div>

    </div>
</div>

<div class="row3" id="Banner">
    <div class="col-md-12">
        <div class="banner">
            <img src="./image/肉桂天堂.jpg" class="banner-img" alt="...">
            <div class="banner-button">
                <button type="button" class="btn-radius">點此進入購買</button>
            </div>
        </div>
    </div>
</div>

<div class="row4" id="Case">
    <div class="col-md-12">
        <div class="row4" id="Case">
            <div class="div-case">
                <div class="col-md-4 div-case-item">
                    <div class='name'>限量禮盒</div>
                    <div class='price'>NT 888</div>
                    <div class='trial'>芙莉蓮聯名商品</div>
                    <hr>
                    <ul>
                        <li>
                            <strong>3塊</strong>
                            黑巧克力餅乾(蛋奶素)
                        </li>
                        <li>
                            <strong>3塊</strong>
                            奶油花生軟餅乾(蛋奶素)
                        </li>
                        <li>
                            <strong>3塊</strong>
                            胡桃肉桂捲美式軟餅乾
                        </li>
                        <li>
                            <strong>贈送</strong>
                            芙莉蓮隨機賀卡*1
                        </li>

                    </ul>
                </div>
                <div class="col-md-4 div-case-item">
                    <div class='name'>高級禮盒</div>
                    <div class='price'>NT1690</div>
                    <div class='trial'>送禮必備</div>
                    <hr>
                    <ul>
                        <li>
                            <strong>5塊</strong>
                            黑巧克力餅乾(蛋奶素)
                        </li>
                        <li>
                            <strong>5塊</strong>
                            奶油花生軟餅乾(蛋奶素)
                        </li>
                        <li>
                            <strong>5塊</strong>
                            胡桃肉桂捲美式軟餅乾
                        </li>
                        <li>
                            <strong>贈送</strong>
                            隱藏版餅乾3塊
                        </li>
                        <li>
                            獨家心意卡片一張
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 div-case-item">
                    <div class='name'>一般禮盒</div>
                    <div class='price'>NT 369</div>
                    <div class='trial'>個人首選</div>
                    <hr>
                    <ul>
                        <li>
                            <strong>5塊</strong>
                            黑巧克力餅乾(蛋奶素)
                        </li>
                        <li>
                            <strong>3塊</strong>
                            奶油花生軟餅乾(蛋奶素)
                        </li>
                        <li>
                            <strong>贈送</strong>
                            隨機餅乾2塊
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row5" id="SubmitEmail">
    <div class="col-md-12 card-top">
        <div>
            <h1>快來嘗鮮!</h1>
            <p>填寫Email贈好禮</p>
        </div>
        <div>
            <form>
                <label for="fname">Email:</label>
                <input type="email" id="mail" class="mail" value="">
                <button type="button" class="btn-mail">寄送</button>
            </form>
        </div>
    </div>
</div>

<div class="row6" id="footer">
    <div class="col-md-12 footer-block">
        <div>
        </div>
        <div>Copyright 2023賴弘軒 著作權所有，並保留一切權利。</div>
    </div>
</div>
