a {
    text-decoration: none !important;
    color: #808080 !important;
    font-weight: bold;
    font-size: medium;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.query-header {
    width: 300px;
    height:auto;
   
}

.query-body {
    border-radius: 5px !important;
    background-color: #f2f2f2 !important;
    padding: 20px !important;
}


input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }





.machine-navbar {
    display: flex;
    gap: 20px;
    
}

    .machine-navbar div {
        padding: 10px;
        cursor: pointer;
    }

        .machine-navbar div:hover {
            background-color: orange;
        }

        .machine-navbar div a:hover {
            background-color: orange;
            color: white !important;
        }

        .machine-navbar div.active {
            background-color: orange;
            color: white !important;
        }
