

.container {
    width: 100% !important;
    height: auto !important;
    font-family: 'Microsoft JhengHei' !important;
    text-align:center;
}

.panel-body {
    width: 100% !important;
    height: auto !important;
    margin-left: 30%;
    margin-right: 30%;
    margin-top:5%;
}